@import url("utilities.css");

/* Features */

.features-head .container {
    background-color: var(--main-background--color);
    color: white;
    padding: 40px 50px;
}

.features-head .container img, .features-sub-head img {
    width: 200px;
    /* Aligns the image to the end (of the container) */
    justify-self: flex-end;
}



.features-head {
    background-color: var(--main-background--color);
}

/* Features-subhead */

.features-sub-head .container div p {
    margin-top: 5px;
}

.features-sub-head img {
    width: 350px;
}

/* There is a style in features, I was too lazy to add it here (for the image) */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.features-sub-head h1{
    font-weight: 600;
}

.features-sub-head {
    background-color: var(--light-gray);
    padding: 40px 10px
}

/* Features-main */

.features-main .container .card p {
    margin-left: 20px;
}

.features-main .grid {
    /* The padding solves the problem of the card being cut off */
    padding: 60px 30px;
}

/* Aligns all stuff on the grid */

.features-main > .container > div:nth-child(1) {
    grid-column: 1 / 4
}

.features-main > .container > div:nth-child(2) {
    grid-column: 1 / 3
}